@import url("./global.css");

.header {
  height: 68px;
  display: flex;
  align-items: center;
}

.header-logo {
  width: 102px;
  height: 29px;
  color: white;
  margin-top: 50px;
}
.App {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100vh;
}

main {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}
main h1 {
  text-align: center;
}

.main-search_section {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  height: 20vh;
}

.main-search_section input {
  width: 90vw;
  height: 47px;
  background: white;
  border-radius: 35px;
  border: none;
  outline: none;
  color: black;
  text-align: center;
  vertical-align: middle;
  /* padding-left: 3%; */
  font-family: var(--tittle-font);
  font-weight: 300;
  font-size: 16px;
  box-shadow: 0 0 20px rgba(30, 144, 255, 0.8); /* Sombra difuminada azul al enfocar */
}
.main-search_section input::placeholder {
  color: black;
  font-family: var(--tittle-font);
  font-weight: 300;
  /* padding-left: 3%; */
  font-size: 20px;
}

button {
  outline: 0;
  display: inline-flex;
  align-items: center;
  justify-content: space-between;
  background: #2f4b9e;
  min-width: 200px;
  border: 0;
  border-radius: 15px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
  box-sizing: border-box;
  padding: 16px 20px;
  color: #fff;
  font-size: 14px;
  font-weight: 600;
  letter-spacing: 1.2px;
  text-transform: uppercase;
  overflow: hidden;
  cursor: pointer;
}

button:hover {
    opacity: .95;
  }
  
button .animation {
    border-radius: 100%;
    animation: ripple 0.6s linear infinite;
}
  
@keyframes ripple {
    0% {
      box-shadow: 0 0 0 0 rgba(255, 255, 255, 0.1), 0 0 0 20px rgba(255, 255, 255, 0.1), 0 0 0 40px rgba(255, 255, 255, 0.1), 0 0 0 60px rgba(255, 255, 255, 0.1);
    }
  
    100% {
      box-shadow: 0 0 0 20px rgba(255, 255, 255, 0.1), 0 0 0 40px rgba(255, 255, 255, 0.1), 0 0 0 60px rgba(255, 255, 255, 0.1), 0 0 0 80px rgba(255, 255, 255, 0);
    }
  }

.container-search{
 margin-top: -30px;
}

p {
  color: var(--cream);
}

.title-images{
    margin-top: 50px;
}

.search-result {
  margin: 0 25px;
  height: 0px;
}

.search-result_grid {
  display: grid;
  grid-template-columns: repeat(3, 400px);
  grid-template-rows: repeat(3, 1fr);
  gap: 55px;
  align-items: center;
  justify-items: center;
}

.search-result_data img {
  width: 150px;
  height: 150px;
}
#myAnswer {
  border: 1px solid yellow;
}

.card {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 250px;
    height: 250px;
    border-radius: 30px;
    background: #212121;
    box-shadow: 15px 15px 30px rgb(25, 25, 25),
                -15px -15px 30px rgb(60, 60, 60);
}

.title-card{
    margin-bottom: 20px;
}
   



@media (min-width: 900px) {
  .main-search_section {
    flex-direction: row;
  }
  .main-search_section input {
    width: 40vw;
    margin-right: 15px;
  }
  main {
    justify-content: center;
    margin-top: 60px;
  }
  main h1 {
    text-align: left;
    font-size: 90px;
  }
}


.btn-shine {
  position: absolute;
  top: 30%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 12px 48px;
  color: #fff;
  background: linear-gradient(to right, #9f9f9f 0, #fff 10%, #868686 20%);
  background-position: 0;
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
  animation: shine 3s infinite linear;
  animation-fill-mode: forwards;
  -webkit-text-size-adjust: none;
  font-weight: 600;
  font-size: 60px;
  text-decoration: none;
  white-space: nowrap;
  font-family: "Poppins", sans-serif;
}
@-moz-keyframes shine {
  0% {
    background-position: 0;
  }
  60% {
    background-position: 300px;
  }
  100% {
    background-position: 600px;
  }
}
@-webkit-keyframes shine {
  0% {
    background-position: 0;
  }
  60% {
    background-position: 300px;
  }
  100% {
    background-position: 600px;
  }
}
@-o-keyframes shine {
  0% {
    background-position: 0;
  }
  60% {
    background-position: 300px;
  }
  100% {
    background-position: 600px;
  }
}
@keyframes shine {
  0% {
    background-position: 0;
  }
  60% {
    background-position: 300px;
  }
  100% {
    background-position: 600px;
  }
}

